<!--.titulo{background-color: rgb(106, 106, 240);
    color: black;}
.parrafo{background-color: rgb(60, 60, 98);
    color: white;}
.header{background-color: rgb(46, 74, 73);
    color: whitesmoke;}
.div{background-color: rgb(4, 47, 80);
    color: whitesmoke;}-->