h1{color: red;}

@mixin color-principal {color: blue;}

@mixin color-fondo {background-color: rgb(0, 255, 234);}

h1 {font-size: 1.3ms;
    padding: 15px;
    @include color-principal;}

div{padding: 5px;
height: 300px;
width: 300px;
margin-top: 20px;
@include color-fondo;
@include color-principal}

@mixin encabezados ($tamano){
    h1 {font-size: $tamano;}
    h2 {font-size: $tamano - 0.2;}
    h3 {font-size: $tamano - 0.5;}    
    }

@include encabezados(2em);
    